<div class="px-4 pb-4 lines text-6xl flex font-playfair font-bold">
<a class="pr-2" href="#{{ date.strftime('%Y-%m') }}">{{ date.strftime('%-d %B ').lower() }}</a>
<a href="#{{ date.strftime('%Y') }}">{{ date.strftime('%Y').lower() }}</a>
<span class="flex-grow inline-block"></span>
<a href="#{{ date.strftime('%Y-W%W') }}">{{ date.strftime('week %-W, %A').lower() }}</a>
</div>
<div class="grid grid-cols-4 gap-10 px-4">
  <div class="flex flex-col">
    <div class="daily-heading">
      <div class="mx-auto">agenda</div>
    </div>
    {% for time in times %}
    <div class="h-5mm lines pb-1 font-playfair text-base font-bold flex items-center"><div>{{ time }}</div></div>
    {% if not loop.last %}
    <div class="h-5mm lines"></div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="flex flex-col col-span-2">
    <div class="daily-heading">
      <div class="mx-auto">highlight</div>
    </div>
    {% for i in range(2) %}
    <div class="h-5mm lines"></div>
    {% endfor %}
    <div class="daily-heading">
      <div class="mx-auto">to do</div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      {% for i in range(2) %} 
      <div>
      {% for j in range(10) %}
      <div class="h-5mm lines flex items-center">
        <div class="h-4 w-4 rounded-full border border-slate-800 dark:border-white"></div>
      </div>
      {% endfor %}
      </div>
      {% endfor %}
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div class="flex flex-col">
        <div class="daily-heading"><div class="mx-auto">food</div></div>
        {% for i in range(7) %}
        <div class="h-5mm lines"></div>
        {% endfor %}
      </div>

      <div class="flex flex-col">
        <div class="daily-heading"><div class="mx-auto">learned today</div></div>
        {% for i in range(7) %}
        <div class="h-5mm lines"></div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="flex flex-col">
    <div class="daily-heading"><div class="mx-auto">notes</div></div>
    {% for i in range(14 - ((mini_cal|length) // 7 % 5)) %}
    <div class="h-5mm lines"></div>
    {% endfor %}
    <div class="daily-heading"><div class="mx-auto">
      <a href="#{{ date.strftime('%Y-%m') }}">{{ date.strftime('%B').lower() }}</a>
    </div></div>
    <div class="grid grid-cols-7">
        <div class="mini-cal-day">m</div>
        <div class="mini-cal-day">t</div>
        <div class="mini-cal-day">w</div>
        <div class="mini-cal-day">t</div>
        <div class="mini-cal-day">f</div>
        <div class="mini-cal-day">s</div>
        <div class="mini-cal-day">s</div>
        {% for cal_date in mini_cal %}
        {% if cal_date[2] %}
        {% if cal_date[1] == date.strftime('%Y-%m-%d') %}
        <div class="mini-cal-date"><div class="bg-slate-200 dark:bg-zinc-700 aspect-square h-full rounded-full mx-auto"><a href="#{{ cal_date[1] }}">{{ cal_date[0] }}</a></div></div>
        {% else %}
        <div class="mini-cal-date"><a href="#{{ cal_date[1] }}">{{ cal_date[0] }}</a></div>
        {% endif %}
        {% else %}
        <div class="mini-cal-date text-slate-300 dark:text-zinc-600"><a href="#{{ cal_date[1] }}">{{ cal_date[0] }}</a></div>
        {% endif %}
        {% endfor %}
    </div>
  </div>
</div>
