<div class="w-gn-landscape max-h-gn-landscape break-after-page relative" id="{{ id }}">
  <div class="m-6">
  {{ content|safe }}
  </div>
  <div class="absolute bottom-0 right-0 text-slate-300 dark:text-zinc-600 text-2xl pr-6">  
  {% if journal_link %}
  <a href="#{{ journal_link }}"><i class="fa-solid fa-book pl-2"></i></a>
  {% endif %}
  {% if goal_link %}
  <a href="#{{ goal_link }}"><i class="fa-solid fa-bullseye pl-2"></i></a>
  {% endif %}
  {% if work_goal_link %}
  <a href="#{{ work_goal_link }}"><i class="fa-solid fa-briefcase pl-2"></i></a>
  {% endif %}
  </div>
</div>
