<div class="flex flex-col">
<div class="annual-goals-header"><div class="mx-auto"><a href="#{{ first.strftime('%Y-%m') }}">{{ first.strftime('%B %Y').lower() }} work goals</a></div></div>
{% for i in range(22) %}
<div class="lines h-5mm"></div>
{% endfor %}
</div>
