<div class="grid grid-cols-8">
<div class="pr-4">
  <div class="monthly-title">
  <a href="#{{ month.strftime('%Y') }}">{{ month.strftime('%b %Y').lower() }}</a>
  </div>
  {% for i in range(24) %}
  <div class="lines dark:dark-lines h-5mm"></div>
  {% endfor %}
</div>
<div class="col-span-7">
<div class="grid grid-cols-7 gap-0 monthly-cal">
    <div class="monthly-cal-day">monday</div>
    <div class="monthly-cal-day">tuesday</div>
    <div class="monthly-cal-day">wednesday</div>
    <div class="monthly-cal-day">thursday</div>
    <div class="monthly-cal-day">friday</div>
    <div class="monthly-cal-day">saturday</div>
    <div class="monthly-cal-day">sunday</div>
    {% for cal_date in mini_cal %}
    {% if cal_date[2] %}
    <div class="monthly-cal-date h-20mm flex flex-col">
    <div><a href="#{{ cal_date[1] }}">{{ cal_date[0] }}</a></div>
    <div class="flex-grow"></div>
    {% if loop.index0 % 7 == 0 %}
    <div class="text-base text-slate-300"><a href="#{{ cal_date[4] }}">{{ cal_date[3] }}</a></div>
    {% endif %}
    </div>
    {% else %}
    <div class="monthly-cal-date h-20mm flex flex-col text-slate-300">
    <div><a href="#{{ cal_date[1] }}">{{ cal_date[0] }}</a></div>
    <div class="flex-grow"></div>
    {% if loop.index0 % 7 == 0 %}
    <div class="text-base text-slate-300"><a href="#{{ cal_date[4] }}">{{ cal_date[3] }}</a></div>
    {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% if mini_cal|length // 7 < 6 %}
{% for i in range(4) %}
<div class="h-5mm lines"></div>
{% endfor %}
{% endif %}
</div>
<div class="h-5mm col-span-8"></div>
</div>
