<div class="flex flex-col"></div>
<div class="slim-goals-header"><a href="#{{ first.strftime('%Y-W%W') }}">{{ first.strftime('%Y W%-W') }}: {{ first.strftime('%-d %b').lower() }} - {{ last.strftime('%-d %b').lower() }}</a></div>
{# <div class="slim-goals-header"><div class="mx-auto"><a href="#{{ first.strftime('%Y-%m') }}">{{ first.strftime('%B %Y').lower() }} goals</a></div></div> #}
{% for area in areas_of_focus %}
<div class="flex flex-col pb-2">
<div class="weekly-area-header-slim flex items-center"><div class="align-middle"><i class="{{ area[1] }} pr-2 text-lg"></div></i><div>{{ area[0].lower() }}</div></div>
{% for i in range(5) %}
<div class="lines h-5mm"></div>
{% endfor %}
</div>
{% endfor %}
