<div class="grid grid-cols-8 gap-4">
<div class="flex flex-col">
  <div class="weekly-day-heading mx-auto">{{ days[0].strftime('%Y W%-W') }}</div>
  <div class="weekly-day-heading mx-auto"><a href="#{{ days[0].strftime('%Y-%m') }}">{{ days[0].strftime('%B').lower() }}</a></div>
  {% for i in range(13) %}
  <div class="h-5mm border-b border-slate-800"></div>
  {% endfor %}
  <div class="weekly-day-heading mx-auto">habits</div>
  {% for i in range(5) %}
  <div class="h-5mm border-b border-slate-800"></div>
  <div class="grid grid-cols-7 h-5mm">
    {% for day in ['m', 't', 'w', 't', 'f', 's', 's'] %}
    <div class="flex items-center">
      <div class="h-6 mx-auto w-6 bg-slate-200 rounded-full font-playfair font-bold text-center text-slate-400">{{ day }}</div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% for i in range(7) %}
<div class="flex flex-col">
<div class="weekly-day-heading mx-auto"><a href="#{{ days[i].strftime('%Y-%m-%d') }}">{{ days[i].strftime('%-d %a').lower() }}</a></div>
{% for time in times %}
<div class="h-5mm border-b border-slate-800 pb-1 font-playfair text-base font-bold flex items-center text-slate-300"><div>{{ time }}</div></div>
{% if not loop.last %}
<div class="h-5mm border-b border-slate-800"></div>
{% endif %}
{% endfor %}
</div>
{% endfor %}
</div>
