<div class="grid grid-cols-8">
<div></div>
<div class="daily-heading">mon</div>
<div class="daily-heading">tue</div>
<div class="daily-heading">wed</div>
<div class="daily-heading">thu</div>
<div class="daily-heading">fri</div>
<div class="daily-heading">sat</div>
<div class="daily-heading">sun</div>
</div>
