<div class="flex-grow grid grid-cols-2">
  <div class="flex-grow flex justify-around border-r-2 border-slate-800 dark:border-white text-xl">
    <i class="fa-regular fa-face-smile"></i>
    <i class="fa-regular fa-face-grin-beam"></i>
    <i class="fa-regular fa-face-meh"></i>
    <i class="fa-regular fa-face-grimace"></i>
    <i class="fa-regular fa-face-tired"></i>
    <i class="fa-regular fa-face-frown"></i>
    <i class="fa-regular fa-face-sad-cry"></i>
  </div>
  <div class="flex-grow flex justify-around text-xl">
    <i class="fa-solid fa-sun"></i>
    <i class="fa-solid fa-cloud-sun"></i>
    <i class="fa-solid fa-cloud"></i>
    <i class="fa-solid fa-cloud-showers-heavy"></i>
    <i class="fa-solid fa-cloud-bolt"></i>
    <i class="fa-solid fa-wind"></i>
    <i class="fa-solid fa-snowflake"></i>
  </div>
</div>
